<h1>Welcome, <%= current_user.username %> </h1>
<h3>View everyone's grocery lists.</h3>
<br>
<% @items.each do |item| %>
  <label>User: </label><%= item.user.username %><br>
  <label>Shopping Day: </label><%= item.shopping_day%><br>
  <br>
  <p class="outset">
  <label>Produce: </label><%= item.produce %><br>
  <label>Meat: </label><%= item.meat %><br>
  <label>Fish: </label><%= item.fish %><br>
  <label>Grains: </label><%= item.grains %><br>
  <label>Dairy: </label><%= item.dairy %><br>
  <label>Snacks: </label><%= item.snacks %><br>
  <label>Spices: </label><%= item.spices %><br>
  <label>Staples: </label><%= item.staples %><br>
  <label>Freezer: </label><%= item.freezer %><br>
  </p>
  <br>
  <br>
<% end %>